{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.username }}</h1>
    {% if posts %}
  <div class="posts">
    {% for post in posts %}
    <article class="card border">
      <div class="post">
        <div class="post__left">
          <img
            src="{{ url_for('static', filename='profile_pics/' + post.author.profile_pic) }}"
            alt="{{ post.author }}"
            class="profile-pic"
          />
        </div>
        <div class="post__right">
          <div class="top text-muted">
            <a href="{{ url_for('auth.user_posts', username=post.author.username) }}" class="username">{{ post.author }}</a>
            <span> on </span>
            <span class="date-posted"
              >{{ post.date_posted.strftime('%d %b, %Y') }}</span
            >
          </div>
          <div class="bottom mb-2">
            {{ post.stripped_body() }}
          </div>
         <div class="read-more">
            <a href="{{ url_for('blog.post_detail', post_id=post.id)}}"
            >Read More...</a
         </div>
        </div>
      </div>
    </article>
    {% endfor %}
</div>
{% else %}
<p>No Posts Found!</p>
{% endif %}
{% endblock content %}